<div class="stock_main">
  <div class="stock_main_sub">
    <div class="stock_sub_title">
      備品入庫
    </div>
    
    <div class="stock_form">
    <%= form_with(model: @stock, local: true, id:"stock-form", class: "stock_form_contents") do |f|%>
      <div class="stock_error">
        <%= render 'layouts/error_messages', model: f.object %>
      </div>
      <div class="form-example">
        <%= f.label :"カテゴリー", class: "stock_form_label"  %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"stock_form_content", id:"stock-category-select"})%>
      </div>
      <div class="form-example">
        <%= f.label :"備品名", class: "stock_form_label", id: 'stock-form-label' %>
        <%= f.collection_select(:item_id, Item.all, :id, :name, {}, {class:"stock_form_content", id:"stock-item-select"})%>
      </div>
      <div class="current_item_quantity">
      </div>

      <div class="form-example">
        <%= f.label :"入庫数", class: "stock_form_label"  %>
        <%= f.text_field :quantity, class:"stock_form_content" %><span></span>
      </div>
      <div class="stock_form_submit_area">
        <%= f.submit "入庫", class: "stock_form_submit", data: { confirm: '入庫を確定しますか？'}%>
      
      </div>
    
    <%end%>
    </div>
  </div>
</div>