<div class="user_main">
  <%= render partial: 'layouts/sidebar'%>
  <div class="user_sub">
    <div class="subtitle">
          管理者
    </div>
    <div class="form_title">
        ログイン
    </div>
    <div class="ship_error">
      <% if flash[:alert] %>
      <p><%= flash[:alert]%></p>
      <% end %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="form_area">
        <div class="separate">
          <div class="field">
            <%= f.label :"メールアドレス", class: "form_label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_text" %>
          </div>

          <div class="field">
            <%= f.label :"パスワード", class: "form_label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class:"form_text" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :"パスワードをお忘れですか？", class: "form_label" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class:"user_new_submit" %>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>