<div class="stock_main">
  <%= render partial: 'layouts/pulldown'%>
  <div class="stock_main_sub">
    <div class="stock_sub_title">
      備品出庫
    </div>
    
    
    <div class="stock_form">
      <%= form_with(model: @ship, local: true, id:"ship-form", class: "stock_form_contents") do |f|%>
        <div class="ship_error">
          <% if flash[:alert] %>
            <%= flash[:alert] %>
          <% end %>
          <%= render 'layouts/error_messages', model: f.object %>
        </div>

        <div class="form-example">
          <%= f.label :"カテゴリー", class: "stock_form_label"  %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"stock_form_content", id:"ship-category-select"})%>
        </div>
        <div class="form-example">
          <%= f.label :"備品名", class: "stock_form_label", id: 'ship-form-label' %>
          <%= f.collection_select(:item_id, Item.all, :id, :name, {include_blank: true}, {class:"stock_form_content", id:"ship-item-select"})%>
        </div>
        <div class="current_item_quantity" id="ship-current-item-quantity">
        </div>

        <div class="form-example">
          <%= f.label :"出庫数", class: "stock_form_label"  %>
          <%= f.number_field :quantity, class:"stock_form_content" %><span></span>
        </div>
        <div class="stock_form_submit_area">
          <%= f.submit "出庫", class: "stock_form_submit", data: { confirm: '出庫を確定しますか？'}%>
        
        </div>
      
      <%end%>
    </div>
  </div>
</div>