<div class="item-main">
  <%= render partial: 'layouts/pulldown'%>
  <%= render partial: 'layouts/sidebar'%>
  <div class="items_show">
    <div class="items_history_title">
      <div class="items_history_title_left">
        <div class="history_item_name"><%= @item.name %></div>
        <div class="history_title">
            出庫履歴
        </div>
      </div>
      <div class="history_item_button">
       
        <div class="history_on" >
          <%= link_to "入庫履歴", stock_path(@item.id), class:"history_button" %>
        </div>
        
      </div>
    </div>
    <table id="items-table" class="items_table">
      <tbody id="items-tbody">
        <tr id="menu-items-index" class="menu_items_index">  
          <th class="item_table_category">日付</th>
          <th class="item_table_name">数量</th>
          <th></th>
        </tr>
          
          <% @ships.each do |ship|%>
              <tr id="data-items-index" class="data_items_index">
                <td class="item_table_time"><%=ship.created_at.strftime("%Y年%m月%d日")%><br><%=ship.created_at.strftime("%H時%M分")%></td>
                <td class="item_table_order_point"><%=ship.quantity%></td>
                <td class="item_table_button">
                  <%= link_to "削除", ship_path(@item.id), method: :delete, class:"index_button" %>
                </td>
              </tr>
           
          <%end%>
      </tbody>
    </table>
   
   
  </div>
</div>
