
<div class="item-main">
  <div class="items">
    <div class="search_items">
      <div class="search_items_title">
        <form class="search_items_content" action="" method="get" class="form-example">
          <input type="text" placeholder="カテゴリー" >
          <input type="text" placeholder="備品名" >
          <input type="submit" value="検索">
        </form>
      </div>

    </div>
    <%= link_to '備品新規登録', new_item_path %>
    <div class="items_title">備品一覧</div>
    <table class="items_table">
      <tr class="menu items_index">  
        <th></th>
        <th>名称</th>
        <th>カテゴリー</th>
        <th>在庫数</th>
        <th>発注点</th>
      </tr>
      <% @items.each do |item|%>
      <tr class="data items_index">
        <td><input type="checkbox"></td>
        <td><%=item.name%></td>
        <td><%=item.category.name%></td>
        <td><%=item.quantity %> </td>
        <td><%=item.order_point%></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>
