<div class="show_main">
  <%= render partial: 'layouts/pulldown'%>
  <%= render partial: 'layouts/sidebar'%>
  <div class="show_submain">
    <div class="show_title">
      備品詳細情報
    </div>
    <div class="show_sub">
      <div class="item_show_img">
        <%if @item.image.attached?%>
          <%= image_tag @item.image.variant(resize: '480x480'), class: 'item-image'%>
        <%else%>
          画像なし
        <%end%>
      </div>
      <div class="item_show_table_main">
        <table class="item_show_table">
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">名称</td>
            <td class="item_show_data_table"><%=@item.name%></td>
          </tr>
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">カテゴリー</td>
            <td class="item_show_data_table"><%=@item.category.name%></td>
          </tr>
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">在庫数</td>
            <% if @quantity < @item.order_point%>
              <td class="item_show_data_table_op"><%=@quantity%></td>
            <%else%>
              <td class="item_show_data_table"><%=@quantity%></td>
            <%end%>
          </tr>
          <tr class="item_shows_tr">          
            <td class="item_show_menu_table">発注点</td>
            <td class="item_show_data_table"><%=@item.order_point%></td>
          </tr>
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">保管場所</td>
            <td class="item_show_data_table"><%=@item.location%></td>
          </tr>
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">発注元</td>
            <td class="item_show_data_table"><%=@item.store%></td>
          </tr>
          <tr class="item_shows_tr">
            <td class="item_show_menu_table">備考</td>
            <td class="item_show_data_table_remarks"><%=@item.remarks%></td>
          </tr>
        </table>
        <div class="show_btn">
          <div class="edit_delete_btn">
            <%=link_to "編集", edit_item_path%>
          </div>
          <div class="edit_delete_btn">
            <%=link_to "削除", item_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>