<!DOCTYPE html>
<html>
  <head>
    <title>Pickup!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script> src="/packs/application.js"</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_left">
         <%= link_to 'Pickup!', root_path, class:"logo" %>
         
      </div>
      <% if user_signed_in? %>
      <p id="menu" class="menu">メニュー</p>
      <%end%>
      <% unless user_signed_in? %>
      <div class="header_right login">
        管理者:  
        <% unless current_page?(new_user_session_path)%>
          <%= link_to 'ログイン', new_user_session_path, id:"sign-in-flag", class:"header_right_login" %>
        <%end%>
        <%unless current_page?(new_user_registration_path)%>
          <%= link_to '新規登録', new_user_registration_path, class:"header_right_login" %>
        <%end%>
      </div>
      <% else %>
      <div class="header_right logout">
        管理者:  <%= current_user.name %> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header_right_login" %>
      </div>
      <%end%>
    </header>
    <%= yield %>
    <footer>
      <div class="footer_center">
        ©️2022 Pickup
      </div>
    </footer>
  </body>
</html>
