<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script> src="/packs/application.js"</script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_left">
         <%= link_to 'Pickup', root_path, class:"logo" %>
      </div>
      <% unless user_signed_in? %>
      <div class="header_right login">
        <p>管理者</p>
        <% unless current_page?(new_user_session_path)%>
          <%= link_to 'ログイン', new_user_session_path %>
        <%end%>
        <%unless current_page?(new_user_registration_path)%>
          <%= link_to '新規登録', new_user_registration_path %>
        <%end%>
      </div>
      <% else %>
      <div class="header_right logout">
        管理者： <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
      <%end%>
    </header>
    <%= yield %>
    <footer>
      <div class="footer_center">
        2022 @Pickup
      </div>
    </footer>
  </body>
</html>
